
 <ul><li *ngFor="let i of arr">{{i}}</li></ul>
  <p *ngIf="istrue">Show</p>
  <p *ngIf="name== 'abc'">Ok</p>
  <p *ngIf="istrue; else firstTemp">Show Again</p>
  <ng-template #firstTemp>This is firstTEmp</ng-template> <br>

  <a routerLink="/mem">Member</a>
  <a routerLink="/pro">Product</a>
 <br>
  <router-outlet></router-outlet>

  <div class="itemlist">
    <h1 id="item"> Item List</h1>
    <div class="add">
      <input [(ngModel)]="name" type="text"  placeholder="Add Item" >
      <button (click)="pushToItemList()" id="additem" >ADD</button>
    </div>
    <ul>
      <li *ngFor="let itemshow of itemList; let ind = index">{{itemshow}} <span (click)="deleteItemList(ind)">x</span></li>
    </ul>
  </div>


 <h2>{{school | uppercase}}</h2>
 <h3>{{day}}</h3>
 <h3>{{day | date | uppercase}}</h3>
 <h3>{{day | date:'shortDate'}}</h3>
 <h3>{{day | date:'fullDate'}}</h3>
 <p>{{shortarr |shortarray : 'asc'}}</p>
 <p>{{shortarr |shortarray : 'dsc'}}</p>
 <div class="container" id="addnum1num2">
 <div class="jumbotron">
   <input [(ngModel)]="num1" type="text" class="form-control" placeholder="NUMBER ONE"><br>
   <input [(ngModel)]="num2" type="text" class="form-control" placeholder="NUMBER TWO">
   <p>The sum is: {{ (ConvertToInt(num1)   + ConvertToInt(num2)) || "0" }}</p>
   <!--<input [(ngModel)]="sum" type="text" placeholder="NUMBER ONE"><br>-->
 </div>
 </div>
        <br>
   <hr>


   <!-- Template driven From started-->
 <div class="container" id="addnum1num3">
   <form   #userForm = "ngForm" (ngSubmit) = "onSubmit(userForm.value)">
     <div class="form-group">
       <label for="lan">Last Name:</label>
       <input type="text" class="form-control" id="lan" placeholder="Last Name" name="lastname" ngModel>
     </div>
     <div class="form-group">
       <label for="fnm">First Name:</label>
       <input type="text" class="form-control" id="fnm" placeholder="First Name" name="firstname" ngModel>
     </div>
     <div class="form-group">
       <label for="sel1">Select list:</label>
       <select class="form-control" id="sel1" name="lanuage" ngModel>
         <option value="java">JAVA</option>
         <option value="angular">ANGULAR</option>
         <option value="react">REACT</option>
       </select>
     </div>
     <button type="submit" class="btn btn-primary" value="submit">Submit</button>
   </form>
 </div>
 <!--Template driven forms finished-->
 <br>
 <hr>
 <!-- model driven From started-->
 <div class="container" id="addnum1num4">
   <form   [formGroup] = 'form' (ngSubmit) = "onSubmit(form.value)">
     <div class="form-group">
       <label for="lan">Last Name:</label>
       <input type="text" class="form-control" id="lanm" placeholder="Last Name" name="lastname" formControlName="lastname">
     </div>
     <div class="form-group">
       <label for="fnm">First Name:</label>
       <input type="text" class="form-control" id="fnmm" placeholder="First Name" name="firstname" formControlName="firstname">
     </div>
     <div class="form-group">
       <label for="sel1">Select list:</label>
       <select class="form-control" id="sel1m" name="lanuage" formControlName="lanuage">
         <option value="java">JAVA</option>
         <option value="angular">ANGULAR</option>
         <option value="react">REACT</option>
       </select>
     </div>
     <button type="submit" class="btn btn-primary" value="submit">Submit</button>
   </form>
 </div>
 <!--model driven forms finished-->
