a {
  line-height: 1em;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  margin: 2px;
}
.itemlist{
  background-color: aquamarine;
  width: 300px;
  margin: auto;
  border: 3px solid green;
  padding: 10px;
}
.add{
  margin: auto;

}

#additem{
  width: 80px;
}

span{
  cursor: pointer;
  position: relative;
  float: right;
  margin-right: 10px;
}
li{
  list-style-position: outside;
  border: 1px solid black;
  background-color: greenyellow;
  margin-right: 50px;
}


#addnum1num2{
  margin: auto;
  background-color: coral;
  width: 400px;
  margin: auto;
  border: 3px solid green;
  padding: 10px;
}

#addnum1num3{
  margin: auto;
  background-color: greenyellow;
  width: 400px;
  margin: auto;
  border: 3px solid green;
  padding: 10px;
}

#addnum1num4{
  margin: auto;
  background-color: palevioletred;
  width: 400px;
  margin: auto;
  border: 3px solid green;
  padding: 10px;
}

