
 <ul><li *ngFor="let i of arr">{{i}}</li></ul>
  <p *ngIf="istrue">Show</p>
  <p *ngIf="name== 'abc'">Ok</p>
  <p *ngIf="istrue; else firstTemp">Show Again</p>
  <ng-template #firstTemp>This is firstTEmp</ng-template> <br>

  <a routerLink="/mem">Member</a>
  <a routerLink="/pro">Product</a>
 <br>
  <router-outlet></router-outlet>

  <div class="itemlist">
    <h1 id="item"> Item List</h1>
    <div class="add">
      <input [(ngModel)]="name" type="text"  placeholder="Add Item" >
      <button (click)="pushToItemList()" id="additem" >ADD</button>
    </div>
    <ul>
      <li *ngFor="let itemshow of itemList; let ind = index">{{itemshow}} <span (click)="deleteItemList(ind)">x</span></li>
    </ul>
  </div>


 <h2>{{school | uppercase}}</h2>
 <h3>{{day}}</h3>
 <h3>{{day | date | uppercase}}</h3>

 <div class="container" id="addnum1num2">
 <div class="jumbotron">
   <input [(ngModel)]="num1" type="text" class="form-control" placeholder="NUMBER ONE"><br>
   <input [(ngModel)]="num2" type="text" class="form-control" placeholder="NUMBER TWO">
   <p>The sum is: {{ (ConvertToInt(num1)   + ConvertToInt(num2)) || "0" }}</p>
   <!--<input [(ngModel)]="sum" type="text" placeholder="NUMBER ONE"><br>-->
 </div>
 </div>
